/* #content li, */
article {
    font-family: 文泉驿微米黑,文泉驿正黑,微软雅黑,宋体,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 150%;
    line-height: 1.7;
}

article p,
article li {
    margin: 15px auto;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    border-bottom: 1px dashed #999;
    margin-top: 20px;
    margin-bottom: 30px;
}

.codehilite,
code,
tt,
kbd,
pre,
samp {
    font-family: Consolas,"Courier New",Courier,FreeMono,monospace,文泉驿微米黑,文泉驿正黑,微软雅黑,宋体,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 100%;
    /* line-height: 100%; */
    background-color: #fdf6e3;
}