body {
    background-color: #eee;
}
body > div.container {
    background-color: #fff;
}
.entry-content h2 {
    color: #fff;
    background-color: #337ab7;
    padding: 0.7em 0 0.7em 0.7em;
    margin-left: -15px;
    margin-right: -15px;
}
.entry-content h3 {
    background-color: #dff0d8;
    padding: 0.5em 0 0.5em 0.5em;
}
.entry-content h4 {
    background-color: #d9edf7;
    padding: 0.5em 0 0.5em 0.5em;
    margin-left: 7px;
    margin-right: 7px;
}
.yue pre {
    color: #4c4c4c;
}