/* #content li, */
#content {
    font-family: 文泉驿微米黑,文泉驿正黑,微软雅黑,宋体,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 150%;
    line-height: 150%;
}

#content p {
    margin: 15px auto;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
    border-bottom: 1px dashed #999;
}

.codehilite,
code,
tt,
kbd,
pre,
samp {
    font-family: Consolas,"Courier New",Courier,FreeMono,monospace,文泉驿微米黑,文泉驿正黑,微软雅黑,宋体,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 110%;
    line-height: 110%;
    background-color: #fdf6e3;
}