body {
    background-color: #eee;
}
body > div.container {
    background-color: #fff;
}
.entry-content h2 {
    color: #fff;
    background-color: #337ab7;
    padding: 0.8em 0 0.8em 0.8em;
}
.entry-content h3 {
    background-color: #dff0d8;
    padding: 0.6em 0 0.6em 0.6em;
    margin-left: 0.6em
}
.entry-content h4 {
    background-color: #d9edf7;
    padding: 0.5em 0 0.5em 0.5em;
    margin-left: 0.8em;
}